@using PhatHanhSach.Models;
@model List<CONGNO_DL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script type="text/javascript">
    window.onload = function () {
        $(document).ready(function () {
            console.log("ready!");
            $("#date_congnondl").datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true, //Tùy chọn này cho phép người dùng chọn tháng
                changeYear: true //Tùy chọn này cho phép người dùng lựa chọn từ phạm vi năm
            });
        })
    };
</script>
<h1> Công nợ đại lí ngày @ViewBag.NgayCongNo </h1>
<form class="form-horizontal" action="@Url.Action("CongNoDL","QuanLi_CongNo_DL")" method="POST">
    <div class="form-group">
        <label for="text1" class="control-label col-lg-4"> Chọn ngày:</label>
        <div class="col-lg-3">
            <div class="row">
             <input type="text" id = "date_congnondl" class="form-control" name="date_congnodl" />    
             <input type="submit" id="btn_datecongnodl" class="btn btn-metis-5" value="Lọc"/>
            </div>
        </div>

    </div>
</form>

<!-- Table -->
<table class="table table-bordered">
    <tr>
        <th>Ten DL</th>
        <th>Tien No</th>
    </tr>
    @foreach (CONGNO_DL item in Model)
    {
        if(item!=null)
        {
        <tr>
            <th>@item.DAILY.Ten</th>
            <th style="text-align:right">@item.TienNo.Value.ToString("#,##")</th>
        </tr>
    }
    }
</table>



